@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Poor+Story&display=swap');

html{
    --loading-txt-grad: linear-gradient(90deg, transparent 0% 16.66%, hsla(0, 3%, 7%, 1) 33.33% 50%, transparent 66.66% 75%);
    --load-color-page : rgb(223,184,134);
    --primary-color: rgb(25,24,28);
    --white:white;
    --white-logo:var(--white);
    --background-nav: rgb(54,54,60);
    scroll-behavior: smooth;
}
::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track{background-color: transparent;}
::-webkit-scrollbar-thumb{
    background-color: var(--load-color-page);
    border-radius: 10px;
}
.light{
    --primary-color: rgb(223, 202, 175);
    --white-logo: black;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: all 1s;
}

               /* Loading page */
.container_load{
    background-color: var(--load-color-page);
    width: 100%;
    position: absolute;
    /* height: 607px; */
    height: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: hez3liya 0.7s 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes hez3liya {
  to{
    transform: translateY(100%);
    display: none;
  }
}

             /* loading text */
.txt{
    color: hsl(0, 0%, 100%);
    background-image: var(--loading-txt-grad);
    background-size: 700%;
    font-size: 46PX;
    font-weight: bold;
    font-family: 'Alkalami', serif;
    word-spacing: 10px;
    line-height: 1em;
    -webkit-text-fill-color: transparent;    
    background-clip: text;
    -webkit-background-clip: text;
    animation-delay: 2s;
    -webkit-text-stroke: 0.5px black;
    margin-top: 30px;
    animation: loadtxt ease-in-out 3s infinite;
}
@keyframes loadtxt {
    0%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}
     /* loading cercl */
.cercl{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(253, 241, 241);
    border-top: 10px solid black;
    animation-name: dora;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes dora {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* For 303px */
@media (max-width: 303px){
 .cercl{
    width: 80px;
    height: 80px;
    border: 3px solid rgb(253, 241, 241);
    border-top: 6px solid black;
 }
 .txt{
    font-size: 30PX;
 }
}

     /* Header NavBar */
body{
    background-color: var(--primary-color);
}     
.logo>img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 50%;
    transition: all 0.5s;
}
.logo:hover>img{
    transform: translateX(5px) translateY(5px);
}
.container_nav{
    z-index: 10;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom:1px solid rgba(255, 255, 255, 0.18);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.7s;
}
.container_nav:hover{
    transform-origin: left;
    transform: scaleX(0.98);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 1);
    border: none;
    border-radius: 20px;
}
.container_nav:hover{
    transform-origin: right;
    transform: translateX(0.98);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 1);
    border: none;
    border-radius: 20px;
}
.logo{
    display: flex;
    cursor: pointer;
    margin-top: 10px;
}
.txt-nav{
    margin-left: 10px;
}
#ar{
    color: var(--white-logo);
    font-weight: bold;
    word-spacing: 10px;
    font-family: 'Alkalami', serif;
    margin-top: -10px;
    transition: all 0.5s;
}
.logo:hover>#ar{
    transform: translateX(-5px) translateY(-5px);
}
#en{
    color: var(--load-color-page);
    word-spacing: 5px;
    font-family: 'Protest Revolution', sans-serif;
    margin-top: 40px;
    margin-left: -120px;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}
.logo:hover>#en{
    transform: translateX(5px) translateY(-5px);
}
             /* Nave Bar */
ul.nav{
    display: flex;
    background-color: var(--background-nav);
    margin-top: 47px;
    margin-right: 50%;
    border: 0.5px solid var(--load-color-page);
    border-radius: 15px;
    width: fit-content;
    padding: 12px;
}
ul.nav a{
color: var(--white);
transition: all 0.9s;
/* font-family: 'Poor Story', system-ui; */
}
ul.nav li:not(li:nth-child(5)){
    margin-right: 20px;
}
ul.nav li:hover a{
   color: var(--load-color-page);
}
ul.nav li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line11,.line21,.line31,.line41,.line51{
    margin-bottom: 3px;
    margin-top: 2px;
}
.line:not(ul.nav .active-liste .line){
    background-color: var(--load-color-page);
    height: 1px;
    transform: scaleX(0);
}
ul.nav .active-liste .line{
    background-color: var(--load-color-page);
    height: 1px;
}
.line11,.line12{
    width: 50px;
}
.line21,.line22{
    width: 74px;
}
ul.nav .hadou:hover .line:not(ul.nav .active-liste .line){
    transform: scaleX(0);
    animation: sir;
    animation-duration: 0.5s;
    transform-origin: center;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes sir{
    from{
        transform: scaleX(0);
    }
    to{
      transform: scaleX(1);
    }
}
.line31,.line32{
    width: 80px;
}
.line41,.line42{
    width: 107px;
}
.line51,.line52{
    width: 74px;
}
ul.nav .active-liste a{
    color: var(--load-color-page);
}
ul.nav .active-liste .line{
  animation-name: sirwajihome;
  transform-origin: left;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
ul.nav .active-liste .line11{
    animation-delay: 0.2s;
}
@keyframes sirwajihome {
    0%{
      transform: scaleX(0.2);
    }
    100%{
      transform: scaleX(1);
    }
}

       /* Dark White Mode */
.darkandwhitemode label{
    width: 70px;
    height: 30px;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
.darkandwhitemode{
    margin-right: 50px;
}
.darkandwhitemode label::after{
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1px;
    left: 1px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}
.darkandwhitemode input{
    width: 0;
    height: 0;
    visibility: hidden;
}
.darkandwhitemode input:checked + label{
    background-color: #242424;
}
.darkandwhitemode input:checked + label::after{
    left: 68px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}
.darkandwhitemode label:active::after{
    width: 37px;
}
.darkandwhitemode label i{
  position: relative;
  font-size: 20px;
  top: 5px;
  z-index: 100;
}
.darkandwhitemode label .fa-sun{
  right: -5px;
  color: #fff;
}
.darkandwhitemode label .fa-moon{
  right: -23px;
  color: #7e7e7e;
}
.darkandwhitemode input:checked + label::after{
    left: 68px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}
.darkandwhitemode input:checked + label .fa-sun{
    color: #7e7e7e;
}
.darkandwhitemode input:checked + label .fa-moon{
    color: #fff;
}

   /* Hero section after header */
html{
 --wight-bold:700;
 --letter-spacing-2: 0.4em;
 --font-size-label-2:1.2rem;
 --letter-spacing-5: 3px;
 --transition-2: 500ms ease;
 --transition-3: 1000ms ease;
 --transition-1: 250ms ease;
 --smoky-black-1: hlsa(40, 12%, 5%, 1);
}

main.herosec{
    text-align: center;
}
.img-cover{
    width: 100%;
    height: 600px;
    opacity: 0.3;
}
.section-subtitle{
    position: relative;
    color: var(--load-color-page);
    font-weight: var(--wight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-2);
    margin-block-end: 12px;
}
.section-subtitle+img{
    width: 40px;
    height: 40px;
    margin-top: -20px;
}
.btn .text{display: block;}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn>div{
    position: relative;
    color: var(--load-color-page);
    font-size: 12px;
    font-weight: var(--wight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-5);
    border: 2px solid var(--load-color-page);
    padding: 12px 45px;
    max-width: max-content;
    overflow: hidden;
    z-index: 1;
    width: 250px;
}
.btn{
    position: relative;
    top: 120px;
}
.slider-item .body-2{
    position: relative;
    top: 50px;
    color: var(--white-logo);
    font-size: 30px;
    font-family: 'Cute Font', sans-serif;
}
.slider-item .display-1{
    position: relative;
    top: 30px;
    color: var(--white-logo);
    font-size: 100px;
    font-family: 'Source Code Pro', monospace;
}
.slider-item #imghero{
    position: relative;
    top: 30px;
    animation: sirwajisora 1s infinite alternate;
}
@keyframes sirwajisora{
    100%{
     transform: translateY(5px);
    }
}
.slider-item .label-2{
    position: relative;
    top: 40px;
    font-family: 'Cute Font', sans-serif;
}
.btn>div::before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: var(--load-color-page);
    transition: var(--transition-2);
    z-index: 1;
}
.btn div .text{
    transition: var(--transition-1);    
}
.btn div .text-2{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: black;
    z-index: 3;
}
.btn div:is(:hover, :focus-visible)::before{bottom: -50%;}
.btn div:is(:hover, :focus-visible) .text-1{transform: translateY(-40%);}
.btn div:is(:hover, :focus-visible) .text-2{
    top: 50%;
    transform: translate(-50% ,-50%);
}
.hero .slider-btn{display: none;}
.hero{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
}
.hero .slider-item{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
.hero .slider-item.active{
    opacity: 1;
    visibility: visible;
}

.hero .slider-item .slider-bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    transform: scale(1.15);
}

.hero .slider-item.active .slider-bg{
    animation: smoothSccale 7s linear forwards;
}
@keyframes smoothSccale {
    0%{transform: scale(1.13);}
    100%{transform: scale(1.25);}
}



.hero-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    background: var(--load-color-page);
    width: 110px;
    height: 110px;
    padding: 12px;
    transform: scale(0.6);
}

.hero-btn img{
    margin-inline: auto;
    margin-block-end: 4px;
    width: 70px;
}
.hero-btn span{
   color: black;
   font-weight: var(--wight-bold);
   font-size: 12px;
   text-transform: uppercase;
}
#carrerdor{
    width: 70px;
    height: 70px;
    border: 1px solid var(--load-color-page);
    animation: rotate360 15s linear infinite;
    position: absolute;
    bottom: 36px;
    right: 36px;

}
@keyframes rotate360 {
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}

.slider-reveal{
    transform: translateY(30px);
    opacity: 0;
}

.hero .slider-item.active .slider-reveal{
    animation: sliderReveal 1s ease forwards;
}
@keyframes sliderReveal {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);  
        opacity: 1;  
    }
}
.hero .slider-item.active .section-subtitle,
.hero .slider-item.active #imghero{
    animation-delay: 500ms;
}
.hero .slider-item.active #imghero{
    animation-delay: 300ms;
    opacity: 1; 
}
.hero .slider-item.active .hero-title{animation-delay: 1s;}
.hero .slider-item.active .hero-text{animation-delay: 1.5s;}
.hero .slider-item.active .btn{animation-delay: 2s;}


.switch-sliders{
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 50px;
    position: absolute;
    top: 64%;
    z-index: 10;
    left: 35%;
}
article .switch-sliders .fa-sharp{
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
}
article .switch-sliders .fa-sharp{
    animation: sliderReveal 2s 2s ease forwards;
}
article .switch-sliders .fa-sharp:hover{
    font-size: 25px;
    color: #d8860b;
}
article .switch-sliders .selected{
    color: white;
}

